.blog {
  display: grid;
  place-items: center;
  height: 50vh;
  width: 100vw;
  background-color: hsl(0, 8%, 77%);
}

.blogPosts {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.blogPost {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
