footer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 20vh;
  width: 100vw;
  background-color: hsl(151, 21%, 46%);
}

.footerInnerGrid {
  display: grid;
  align-items: center;
}
