.projects {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 3fr;
  height: 40vh;
  width: 100vw;
  background-color: hsl(151, 21%, 85%);
}

.currentProjects,
.projectsContainer {
  width: 90%;
  height: 75%;
}

.currentProjects {
  background-color: hsl(189, 42%, 39%);
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.projectSection {
  display: grid;
  gap: 1rem;
  width: 90%;
  height: 100%;
}

.projectSection div:first-child {
  display: flex;
  justify-content: space-between;
}

.projectSection div div {
  width: 9.3rem;
}

.projectSection div div:first-child {
  background-color: hsl(180, 100%, 50%);
  border-radius: 50%;
}

.projectSection div div:nth-child(2) {
  background-color: hsl(108, 100%, 50%);
  border-radius: 50%;
}

.projectsContainer > div > div:nth-child(2),
.projectsContainer > div > div:nth-child(2) {
  border: 1px solid hsl(0, 0%, 0%);
}
