.skillbox {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  width: 100vw;
  background-color: rgb(211, 99, 58);
}

.studyContainer,
.skillsContainer {
  width: 500px;
  height: 200px;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.studyContainer {
  display: grid;
  gap: 10px;
}

.studyContainer > div {
  width: 500px;
  height: 90px;
  border: 1px solid black;
}

.skill {
  border: 1px solid black;
  width: 55px;
  height: 55px;
  border-radius: 15px;
}
