.skillbox {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  width: 100vw;
  background-color: hsl(17, 23%, 94%);
}

.skillbox > div > h3 {
  margin-bottom: 2.5rem;
}

.studyContainer,
.skillsContainer {
  width: 500px;
  height: 200px;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.skillsContainer > span {
  width: 50px !important;
  height: 50px !important;
}

.studyContainer {
  display: grid;
  gap: 10px;
}

.studyContainer > div {
  font-size: clamp(0.7rem, 1.3vw, 1rem);
}

.studyContainer > div > div {
  width: 25rem;
}

.percentBarContainer {
  display: flex;
  gap: 5px;
}

.blueBar,
.greenBar,
.greyBar {
  display: flex;
  height: 1rem;
  border-radius: 4px;
}

.greyBar {
  background-color: hsl(240, 6%, 81%);
}

.blueBar {
  background-color: hsl(211, 100%, 50%);
}

.greenBar {
  background-color: hsl(120, 100%, 50%);
}
